
body {
   background: black;
   color: white;
   font-family: sans-serif;
}

#menu {
   display: table;
   margin: 10px auto;
}

#menu ul {
   display: table;
   margin: 0 auto;
   list-style-type: none;
}

#menu li {
   display: inline-block;
}

table {
   margin: 0 auto;
}

th {
   text-align: left;
}

#nav {
   display: table;
   margin: 0 auto;
   width: 50%;
}

#nav_next {
   float: right;
}

label {
   font-weight: bold;
}

